<p id="notice"><%= notice %></p>

<p>
  <strong>Order number:</strong>
  <%= @order.number %>
</p>

<p>
  <strong>Order quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Order item:</strong>
  <%= @order.item %>
</p>


<h4>
<%= link_to 'Edit', edit_order_path(@order) %> <br>
<%= link_to 'Back', orders_path %><br>
<%= link_to 'Return to Main Page', root_path %></h4>
