<p id="notice"><%= notice %></p>

<h1 class = tbody>Listing All Companies</h1>

<table>
  <thead>
    <tr>
      <th>Company<br>ID</th>
      <th>Customer<br>count</th>
      <th>Company<br>logo</th>
      <th>Company<br>name</th>

      <th>Company<br>Bio</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @usercompany.each do |company| %>
      <tr>
        <td><%= company.id %></td>
        <td><%= image_tag company.image_url(:thumb) if company.image? %></td>
        <td><%= company.name %></td>
        <td><%= company.customers.count %></td>
        <td><%= company.bio %></td>
        <td><nav><%= link_to 'Show', company %></nav></td>
        <td><nav><%= link_to 'Edit', edit_company_path(company) %></nav></td>
        <td><nav><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></nav></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<nav><%= link_to 'New Company', new_company_path %>
<%= link_to 'Return to Main Page', root_path %></nav><br>
<a href="http://www.theironyard.com">Visit The Iron Yard!</a>
