<p id="notice"><%= notice %></p>

<%= image_tag @company.image_url.to_s %>

<p>
  <strong>Company name:</strong>
  <%= @company.name %>
</p>


<p>
  <strong>Company bio:</strong>
  <%= @company.bio %>
</p>



<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
<%= link_to 'Return', root_path %>
