<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @company.company_name %>
</p>


<p>
  <strong>Company bio:</strong>
  <%= @company.company_bio %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
<%= link_to 'Return to Main Page', root_path %>
